.projects__heading {
    font-family: Kodchasan;
    font-weight: 400;
    font-size: 36px;
    color: rgb(239, 172, 47);
}

.projects__wrapper {
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}
