.projects__heading {
    font-family: Kodchasan;
    font-weight: 400;
    font-size: 36px;
    color: rgb(239, 172, 47);
}

.projects__wrapper {
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
}


@media screen and (max-width: 1000px) {
    .projects__heading { font-size: 33px; }
}

@media screen and (max-width: 900px) {
    .projects__heading { font-size: 30px; }
}

@media screen and (max-width: 800px) {
    .projects__heading { font-size: 26px; }
}

@media screen and (max-width: 412px) {
    .projects__heading { margin-bottom: 0rem; }
    .projects__wrapper { 
        padding: 0 .5rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .projects__heading { margin-bottom: -3rem; }
    .projects__wrapper { 
        padding: 0 .5rem;
        margin-top: 3rem;
    }
}