
.educations {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    max-width: 500px;
    border-radius: 10px;
}



.educations:nth-child(even) {
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.educations:nth-child(odd) {
    margin-right: 1rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.educations__info-wrapper { padding: 1rem; }

.educations__year,
.educations__company,
.educations__institution,
.educations__description {
    font-weight: 400;
    line-height: 30px;
    font-family: Kodchasan;
    color: rgb(146, 107, 74);
}

.educations__title {
    font-weight: 400;
    font-family: Kodchasan;
    color: rgb(239, 172, 47);
}

.button-section { margin: 4rem 0; }




@media screen and (max-width: 820px) {
    .educations:nth-child(even) { 
        align-self: center; 
        margin: 0;
    }
    .educations:nth-child(odd) { 
        align-self: center; 
        margin: 1.25rem 0;
    }
}

@media screen and (max-width: 430px) {
    .educations:nth-child(even) { 
        align-self: center; 
        margin: 0;
    }
    .educations:nth-child(odd) { 
        align-self: center; 
        margin: 1.25rem 0;
    }
}