.employments {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    max-width: 500px;
    border-radius: 10px;
}



.employments:nth-child(even) {
    margin-left: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
    background: rgb(146 107 74 / 20%);
    border-radius: 20px 100px 20px 100px;
    border: 1px solid rgb(239, 172, 47, .2);
    box-shadow: -5px 5px 14px 2px rgb(239, 172, 47, .2);
}

.employments:nth-child(odd) {
    margin-right: 1rem;
    margin-bottom: 1rem;
    align-self: flex-end;
    background: rgb(146 107 74 / 20%);
    border-radius: 100px 10px 100px 10px;
    border: 1px solid rgb(239, 172, 47, .2);
    box-shadow: 5px 5px 14px 2px rgb(239, 172, 47, .2);
}

.employments__info-wrapper { padding: 1rem; }

.employments__title,
.employments__education,
.employments__year,
.employments__description {
    font-weight: 400;
    line-height: 30px;
    font-family: Kodchasan;
    color: rgb(146, 107, 74);
}

.employments__company {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: Kodchasan;
    color: rgb(239, 172, 47);
}