.project-section {
    display: flex;
    justify-content: space-between;
}

.timeline__wrapper {
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}


.timeline-section__employments {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    border-radius: 20px;
    width: 100%;
}

.timeline-heading__employments {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: Kodchasan;
    align-self: flex-start;
    color: rgb(239, 172, 47);
}

.timeline-section__education {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    background: rgb(146 107 7 / 18%);
    border: 1px solid rgb(146, 107, 7);
    padding: 2rem;
    border-radius: 20px;
}

.timeline-heading__education {
    font-size: 36px;
    font-weight: 400;
    margin: 2rem 0;
    margin-top: 3rem;
    font-family: Kodchasan;
    align-self: flex-end;
    color: rgb(239, 172, 47);
}

.timeline__logo-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}


@media screen and (max-width: 1000px) {
    .timeline-heading__education { font-size: 33px; }
    .timeline-heading__employments { font-size: 33px; }
}

@media screen and (max-width: 900px) {
    .timeline-heading__education { font-size: 30px; }
    .timeline-heading__employments { font-size: 30px; }
}

@media screen and (max-width: 800px) {
    .timeline-heading__education { font-size: 26px; }
    .timeline-heading__employments { font-size: 26px; }
}