.carousel-container {
    display: flex;
    box-shadow: 7px 7px 8px -7px rgb(146, 107, 74);
    border-radius: 20px;
    margin: 0 auto;
    max-width: 1100px;
    min-height: 40vh;
}

.nav-btn {
    font-size: 100px;
    cursor: pointer;
    border: none;
    color: rgb(239, 172, 47);
    align-self: center;
    background-color: transparent;
}

.nav-btn:hover {
    scale: 1.1;
}

.nav-btn--left {
    border-radius: 0 50% 50% 0;
}

.nav-btn--right {
    border-radius: 50% 0 0 50%;
}

.carousel-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    position: relative;
    width: 100%;
}

@media screen and (max-width: 580px) {
    .carousel-card { margin: 0 1rem; }
    .nav-btn { font-size: 100px; }
}

@media screen and (max-width: 430px) {
    .carousel-container { height: 55vh; }
}

@media screen and (max-width: 414px) {
    .carousel-container { height: 60vh; }
}

@media screen and (max-width: 375px) {
    .carousel-container { height: 80vh; }
    .nav-btn { font-size: 60px; }
}