/*
 .timelineCard {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    max-width: 500px;
    box-shadow: 0 10px 35px -10px;
    border-radius: 10px;
    background: linear-gradient(180deg, #474232 0%, #28271c 100%);
}



.timelineCard:nth-child(odd) {
    align-self: flex-start;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.timelineCard:nth-child(even) {
    align-self: flex-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.timelineCard__info-wrapper {
    padding: 1rem;
}


.timelineCard__company,
.timelineCard__education,
.timelineCard__year,
.timelineCard__description {
    font-family: Kodchasan;
    color: rgb(146, 107, 74);
    font-weight: 400;

}

.timelineCard__title {
    color: rgb(239, 172, 47);
    font-family: Kodchasan;
    font-weight: 400;
} 
*/